{% from 'bootstrap/nav.html' import render_nav_item %}
{% from 'macros.html' import nav_link %}
<!DOCTYPE html>
<html lang='zh-cmn-Hans'>
    <head>
        {% block head %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}{% endblock title %} - {{ admin.blog_title|default('法律人博客') }}</title>
        <link rel='icon' href="{{ url_for('static', filename='favicon.ico') }}">
        <link href="https://cdn.bootcdn.net/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
        {% endblock head %}
    </head>
    <body>
        {% block nav %}
        <nav >
            <div class="nav-wrapper  grey darken-1 ">
		    <a class="brand-logo" style="margin-left:10%;" href="{{ url_for('blog.index') }}">{{ admin.blog_title|default('法律人博客') }}</a>  
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down" style="margin-right:10%;">
            {% if current_user.is_authenticated %}
            {{ nav_link('admin.new_post', '新建文章') }}
            {{ nav_link('admin.manage_tag', '新建标签') }}
            {{ nav_link('admin.settings', '设置') }}
            {% endif %}
            </ul>
            </div>
        </nav>
        <ul class="sidenav" id="mobile-demo">
            {% if current_user.is_authenticated %}
            {{ nav_link('admin.manage_post', '新建文章') }}
            {{ nav_link('admin.manage_tag', '新建标签') }}
            {{ nav_link('admin.settings', '设置') }}
            {% endif %}
        </ul>
        
        {% endblock nav %}
        <div class="container">
            
        {% block content %}        {% endblock content %}
        {% block footer %}
        <footer>
            <p class="float-left">
                <small>Copyright &copy; 2020 zhaohongbo.cn版权所有    <b>赵洪波</b></small>
            </p>
            <p class="float-right">
                <small>
                    {% if current_user.is_authenticated %}
                    <a href="{{ url_for('auth.logout', next=request.full_path) }}">退出登陆</a>
                    {% else %}
                    <a href="{{ url_for('auth.login', next=request.full_path) }}">登陆</a>
                    {% endif %}
                </small>
            </p>
        </footer>
        {% endblock footer %}
        </div> 

        {% block scripts %}
        <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.4.1/jquery.slim.min.js"></script>
        <script src="https://cdn.bootcdn.net/ajax/libs/popper.js/1.15.0/esm/popper.min.js"></script>
        <script src="https://cdn.bootcdn.net/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
        {{ moment.include_moment(local_js="https://cdn.bootcss.com/moment.js/2.24.0/moment-with-locales.min.js") }}
	{{ moment.locale(auto_detect=True) }}
	<script type="text/javascript">
		var csrf_token="{{ csrf_token() }}";
		{% if current_user.is_authenticated %}
			var is_authenticated = true;
		{% else %}
			var is_authenticated = false;
		{% endif %}
        $(document).ready(function(){ $('.carousel.carousel-slider').carousel({
    fullWidth: true
  });
    
    {% for message in get_flashed_messages() %}
        $(document).ready(function() {
            M.toast({html:'<div class="center-align">{{ message }}</div>', displayLength:6000, classes:'center-align'})
        })
    {% endfor %}

        })
	</script>
        {% endblock scripts %}
    </body>
</html>
