<div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="{{ url_for('static', filename='touxiang.jpg') }}" alt="头像" style="width:100%;">
    </div>
    <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">联系律师<i class="material-icons right">more_vert</i></span>
    </div>
    <div class="card-reveal">
        <span class="card-title activator grey-text text-darken-4">联系律师<i class="material-icons right">close</i></span>
        <i class="material-icons">phone_android</i>手机{{ admin.phone }}<br>
		<i class="fab fa-weixin"></i>微信{{ admin.weixin }}
    </div>
</div>


            

